.wrapper#schedule {
    height: 450px;
    width: 500px;
}

.wrapper#schedule.active {
    height: 400px;
    width: 400px;
}

.wrapper.composers {
    width: 1000px;
    height: 600px;
    align-items: normal;
}

.wrapper .from-box.mode1 {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .from-box.mode1 {
    transition: none;
    transform: translateX(-600px);
}

.wrapper .from-box.mode2 {
    position: absolute;
    transition: none;
    transform: translateX(600px);
}

.wrapper.active .from-box.mode2 {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active2 .from-box.mode1 {
    transition: none;
    transform: translateX(-600px);
}

.wrapper .from-box.mode3 {
    position: absolute;
    transition: none;
    transform: translateX(600px);
}

.wrapper.active2 .from-box.mode3 {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper#songs {
    height: 450px;
    width: 500px;
}

.wrapper#songs.active {
    height: 400px;
    width: 400px;
}

.wrapper#myPerformances {
    height: auto;
}

.wrapper#myPerformances.active {
    height: 350px;
    width: 600px;
}

.wrapper#myPerformances .scrollable {
    height: auto;
    width: auto;
    max-width: 500px;
    max-height: inherit;
}

.wrapper#performances {
    height: auto;
    max-height: 800px;
    width: 800px;
}

.wrapper#performances.active {
    height: 600px;
    width: 600px;
}

.wrapper#performances .scrollable {
    height: auto;
    width: auto;
    max-width: inherit;
    max-height: 500px;
}

.wrapper#settings {
    height: 310px;
    width: 450px;
}

.wrapper#settings.active {
    height: 560px;
    width: 500px;
}

.wrapper#submissions {
    height: auto;
    max-height: 500px;
    width: 800px;
}

.wrapper#submissions .scrollable {
    width: auto;
    max-width: inherit;
}
